<div class="container">
  <canvas
    class="polygon"
    #polygon
    width="500"
    height="500"
    (click)="drawDots($event)"
  ></canvas>

  <div>
    <button class="btn" (click)="drawPolygon()" [disabled]="disabledButton">
      Create shape
    </button>

    <ng-container *ngIf="isShowedMeasures; else initialMeasures">
      <p>perimeter is {{ generalPerimeter }}</p>

      <p>area is {{ generalArea }}</p>
    </ng-container>

    <button (click)="createNewPolygon()">Clear</button>
  </div>
</div>

<ng-template #initialMeasures>
  <p>Create an shape to calculate its measures</p>
</ng-template>
